/*Styling for the program*/
body{
font-family: 'Raleway', sans-serif;
max-width: 100%;
padding: 0%;
overflow-x: hidden;
min-width: 100%;
max-height: 100%;
margin-bottom: 5px;
}

header{
  background: black;
  color: gold;

}

footer{
  background: black;
  color: gold;
  position:fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  height: 175px
}

.question_area{
  margin-bottom: 200px
}

.col-sm-12{
  color: gold;
}

.col-md-12{
  color: grey;
  padding: 0px
}
